<form class="user-form" (ngSubmit)="adduser()">
  <div class="form-group">
    <label class="form-label" for="nom">Nom:</label>
    <input type="text" [(ngModel)]="newUser.nom" name="nom" id="nom" class="form-control form-input">
  </div>
  <div class="form-group">
    <label class="form-label" for="prenom">Prénom:</label>
    <input type="text" [(ngModel)]="newUser.prenom" name="prenom" id="prenom" class="form-control form-input">
  </div>
  <div class="form-group">
    <select name="role" id="role" class="form-control form-select" disabled>
      <option value="admin">Administrateur</option>
      <option value="utilisateur" selected>Utilisateur</option>
    </select>
  </div>
  <div class="form-group">
    <label class="form-label" for="email">Email:</label>
    <input type="email" [(ngModel)]="newUser.email" name="email" id="email" class="form-control form-input">
  </div>
  <div class="form-group">
    <label class="form-label" for="password">Mot de passe:</label>
    <input type="password" [(ngModel)]="newUser.password" name="password" id="password" class="form-control form-input"
      (focus)="showPasswordRequirements = true" (blur)="showPasswordRequirements = false">
    <div *ngIf="showPasswordRequirements" class="password-requirements">
      <ul>
        <li *ngIf="!isPasswordLengthValid()">Le mot de passe doit contenir au moins 8 caractères.</li>
        <li *ngIf="!isPasswordContainsUppercase()">Le mot de passe doit contenir au moins une lettre majuscule.</li>
        <li *ngIf="!isPasswordContainsLowercase()">Le mot de passe doit contenir au moins une lettre minuscule.</li>
        <li *ngIf="!isPasswordContainsNumber()">Le mot de passe doit contenir au moins un chiffre.</li>
        <li *ngIf="!isPasswordContainsSpecialCharacter()">Le mot de passe doit contenir au moins un caractère spécial.</li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label class="form-label" for="confirmPassword">Confirmer le mot de passe:</label>
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword" class="form-control form-input">
    <div *ngIf="passwordsMatch()" class="text-danger">Les mots de passe ne correspondent pas.</div>
  </div>
  <button type="submit" [disabled]="passwordsMatch() || !isPasswordValid()" class="btn btn-primary">Ajouter</button>
</form>
