<div class="add-task-container">
    <h2>Ajouter une tâche</h2>
  
    <div class="form-group">
      <label for="nom">Nom :</label>
      <input type="text" id="nom" [(ngModel)]="task.nom" name="nom" required>
    </div>
  
    <div class="form-group">
      <label for="commentaire">Commentaire :</label>
      <textarea id="commentaire" [(ngModel)]="task.commentaire" name="commentaire"></textarea>
    </div>
  
    <div class="form-group">
      <label for="status">Statut :</label>
      <select id="status" [(ngModel)]="task.status" name="status">
        <option value="Annulé">Annulé</option>
        <option value="A faire">A faire</option>
        <option value="En cours">En cours</option>
        <option value="Terminé">Terminé</option>
      </select>
    </div>
  
    <button (click)="ajouter()">Ajouter</button>
  </div>
  